<ion-view view-title="" hide-nav-bar="true" hide-back-button="false">


	
	
    <ion-content class="content">
	
		<!--
		<div class="mainHeaderRightImg" ng-click="logoBackHome()">
			<i class="icon ion-ios-arrow-back" style=" font-size:30px;"></i> 
		</div>
		-->
					
         <div class="mainDiv" align="center">
            <div class="subMainDiv">
                <div class="loginHeader" style="margin-top:20px;">
                    <img src="img/mainlogo.png" style="width:100%" />
                </div>
              
                <div class="loginInputDiv" >
                    <input type="text" placeholder='הכנס מייל' class="loginInput" style="background-color:#f0f1f1"  ng-model="loginfields.mail">
                </div>
                 <div class="loginInputDiv">
                    <input type="password" placeholder='הכנס סיסמה' class="loginInput" style="background-color:#f0f1f1"   ng-model="loginfields.password">
                </div>
                <div style="width:100%" align="center">
                	<div style="width:90%">
                    	<img src="img/enter_app.png" style="width:100%;  margin-top:10px;" ng-click="doLogin()" />
                       
						<!--
                        <p ui-sref="app.register()" style=" margin-top:10px;"><< משתמש חדש</p>
						<p ui-sref="app.forgotpass()" style=" margin-top:10px;">שכחתי סיסמה</p>
						-->
                    </div>
                    <div style="width:100%; margin-top:15px;">
                    	 <img src="img/ziv_banner.png" style="width:100%;  margin-top:10px;" ng-click="doLogin()" />
                    </div>
                </div>
            </div>
        </div>
		
  </ion-content>
</ion-view>
