
body 
{
	font-family: 'Rubik', sans-serif;
	background-color:#f3a21d;
}
/* Empty. Add your own CSS if you like */
.content
{
	background-color:#fff;
}

/*Login page layout*/

.loginInputDiv{
    padding: 10px;
	padding-top:0px;
	padding-bottom:0px;
	margin:3px;
	background-color:#F0F1F1;
	width:90%;
}

.loginInput
{
    font-size:120%;
    font-weight:bold;
    height:50px !important;
    text-align:center;
    width:100%;
}


.loginInputTextarea
{
    text-align:right;
    width:100%;
    background: #F0F1F1;
    padding: 5px;
}

.loginHeader {
    font-size: 150%;
    padding: 0px;
    font-weight: bold;
	margin-top:0px;
	width:40%;
}

.loginHr {
    width:90%;
    margin: 5% 5%;
    height:3px;
    background: #FCC900;

}

.loginForgotPass {
    padding-top: 15px;
}

.contactButton {
    padding-top: 30px;
}



/* Main Page */

.MainHeader
{
	width:100%;
	overflow:hidden;
	background-color:#fff;
}

.MainHeaderRight
{
	float:right;
	width:20%;
}

.MainHeaderRightDiv
{
	width:30px;
	margin-top:13px;
	margin-left:15px;
}

.MainHeaderCenter
{
	float:right;
	width:60%;
}

.MainHeaderCenterDiv
{
	width:75px;
	padding:5px;
}

.MainHeaderLeft
{
	float:left;
	width:20%;
	margin-top:7px;
	margin-left:-10px;
}

.MainHeaderLeftDiv
{
	width:15px;
	margin-top:10px;
	margin-left:0px;
}

.subHeader
{
	background-color:#f3a21d;
	padding:10px;
}


.subHeaderDiv
{
	width:70%;
	margin-top:5px;
}


.iconCube
{
	width:50%;
	height:110px;
	float:right; 
	background-color:red;
}

.iconCubeDiv
{
	width:30%;
	margin-top:15px;
	font-family: 'Rubik', sans-serif;
	direction:ltr !important;
}


.iconCubeText
{
	color:white;
	font-family: 'Rubik', sans-serif;
	font-size:14px;
	margin-top:-10px;
}




.zoom-pane {
width: 100% !important;
height: 100% !important;
}

.zoom-pane .scroll {
    min-height: 100% !important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;    
}

.zoom-pane img {
    width: 100% !important;
    vertical-align: top !important;
}


/* phonebook */

.articlesContacts
{
	width:100%;
	float:right;
	border-top: solid #2f2f2f;
}

 .contactMainDiv
 {
	 width:100%;
	 overflow:hidden;
 }
 
 .coBlue
 {
	 float:right; 
	 width:4%;
	 background-color:#069;
	 height:74px;
	 margin-top:0px;
 }
 
 .coInfo
 {
	 float:right; 
	 width:75%;
	 text-align:right;
	 padding:10px;
 }
 
 .coIcon
 {
	float:left;
	width:17%;
 }
 
 /* end phonebook */
	
.popup-title 
{
	direction:rtl;
}

























































/*End of login page layout*/